<strong>Algemeen</strong>
<br />Somda is een site voor spotters. Het forum is een extra functionaliteit om informatie tussen spotters onderling uit te wisselen.
<br />
<br /><strong>Forum-categorie&euml;n</strong>
<br />Er zijn diverse forum-categorie&euml;n. Over het algemeen geldt dat het forum op een zakelijke manier gebruikt dient te worden.
<br />Waar wordt afgeweken van het onderwerp zal er door de beheerders worden ingegrepen.
<br />De meeste categorie&euml;n spreken voor zich, maar enkele bijzonderheden worden hieronder genoemd:
<ul class="about">
    <li><em>Bugs</em> --- Als je een foutje vindt op de site kan je dat hier plaatsen. Grove fouten worden over het algemeen binnen 24 uur opgelost, de rest in een volgend release. Controleer wel even of de bug nog niet bekend is.</li>
    <li><em>Ditjes &amp; Datjes</em> --- Dit is de enige categorie waar klessebessen is toegestaan. Dit forum wordt ook wel eens als een soort openbare chat gezien.</li>
    <li><em>Foute spots</em> --- In deze categorie worden de <strong>mogelijk</strong> foute spots besproken. Dit zijn bijvoorbeeld spots van niet bestaand materieel of die niet kunnen volgens de omloop. Dit forum is constructief bedoeld om een betrouwbaar spots-archief op te bouwen. Zie het dus niet als kritiek op je spot als je hier genoemd wordt. Je krijgt altijd de kans om een spot uit te leggen.</li>
    <li><em>Opvallende dingen</em> --- Hierin kan je zaken plaatsen die je tijdens de reis zijn opgevallen, bijvoorbeeld bijzonder materieel. Als je iets ziet op een dag waar nog geen topic voor is kan je die aanmaken.</li>
    <li><em>Wensen</em> --- Hier kan je wensen voor Somda plaatsen, wat zou je graag aangepast of nieuw willen zien. Controleer wel even of je wens nog niet bekend is.</li>
</ul>

<strong>Een discussie bekijken</strong>
<br />In een discussie staan alle reacties onder elkaar, eventueel verdeeld over meerdere pagina's van elk maximaal 100 reacties.
<br />Enkele categorie&euml;n zijn gesloten, dat wil zeggen dat je daarin niet kan reageren. Voorbeelden zijn "Aankondigingen" en "Bugs archief". In de overige categorie&euml;n kan je een nieuwe discussie plaatsen of reageren op een bestaande discussie.
<br />
<br /><strong>Een nieuwe discussie starten</strong>
<br />Als je in een forumcategorie bent staat er linksboven een knop "Start een nieuwe discussie". Dit is de enige plek waar die knop te vinden is.
<br />Klik je op deze knop dan kan je een onderwerp en een berichttekst ingeven. Klik vervolgens op "Opslaan" en je bericht is geplaatst.
<br />
<br /><strong>Reageren op een discussie</strong>
<br />Als een discussie niet gesloten is kan je erop reageren. Hiertoe kan je klikken op 1 van de buttons "Reageer" die aan de rechterzijde staan. Als je op een specifiek bericht wilt reageren dan klik je op de knop "Reageer" bij dat bericht.
<br />Vervolgens zie je in een nieuw scherm bovenaan het bericht staan waar je op reageert. Onderaan kan je je eigen bericht invoeren. Klik op "Opslaan" om je reactie te plaatsen.
<br />
<br /><strong>Bewerken van je bericht</strong>
<br />Als een discussie niet gesloten is kan je je eigen berichten bewerken. Hiertoe kan je klikken op de button "Bewerk" bij de betreffende reactie.
<br />Je bericht bewerken kan op exact dezelfde manier als een nieuw bericht plaatsen. Bij het opslaan wordt er onder je bericht altijd de tekst "Laatst bewerkt door ... op ..."  geplaatst.
