{% extends('base.html.twig') %}

{% block content %}
    <div class="help-index">
        <div class="help-index-title">Beschikbare help-pagina's:</div>
        <div class="help-index-items">
            {% for allItem in allItems %}
                <span class="help-index-item"><a href="{{ path('help_text', { 'id': allItem.id }) }}">{{ allItem.title }}</a></span>
            {% endfor %}
        </div>
    </div>

    <div class="panel">
        <div class="panel-title">{{ item.title }}</div>
        <div class="panel-content">
            {% include('help/' ~ item.template ~ '.html.twig') %}

            <br />
            <br />
            <p class="info">Een bericht sturen aan de webmaster? Gebruik dan het <a href="{{ path('contact') }}">feedback-formulier</a>.</p>
        </div>
    </div>
{% endblock %}
