Somda staat voor <b>S</b>pots en <b>OM</b>lopen <b>DA</b>tabase. Somda kan spots opslaan en aan de hand hiervan worden omlopen berekend.
<br />
<br />Een spot is de vastlegging van treinmaterieel op een bepaald tijdstip op een bepaalde plek. De meeste <a href="{{ path('spots') }}">spots</a> bestaan slechts uit een materieelnummer, een <a href="{{ path('train_table') }}">treinnummer</a>, een <a href="{{ path('location') }}">locatie</a> en eventueel een positie.
<br />Een omloop is de vastlegging van de verschillende diensten die treinmaterieel volgt.
<br />
<br />Het grote voordeel van Somda is dat spots online ingevoerd kunnen worden. De website met al zijn functionaliteiten is voor alle gebruikers bereikbaar, door iedere bezoeker te raadplegen en voor iedereen gratis!
<br />
<br />Somda is getest met alle gangbare browsers, waaronder Firefox, Internet Explorer, Mozilla, Netscape, Opera en Safari.
<br />Enkele functies zullen echter niet goed werken op oudere versies waaronder Internet Explorer 8 en eerder. Overweeg in dat geval een update van je browser en/of je operating systeem.
<br />
<br />In de overige hoofdstukken van deze help worden alle functionaliteiten van Somda stap voor stap uitgelicht en uitgelegd.
<br />
<br />Veel plezier met Somda!
