<strong>Hoe werkt het</strong>
<ul class="about">
    <li>Kies de juiste dienstregeling, standaard is deze al gevuld met de huidige dienstregeling</li>
    <li>Kies een dag van de week</li>
    <li>Type een stations-verkorting of -naam, deze wordt in een popup automatisch aangevuld, je kan hierin klikken om die locatie direct te selecteren</li>
    <li>Kies een begin- en eindtijd (de nachtgrens van dienstregelingen ligt op 02.00, een doorkomststaat van 23.00 tot 01.00 is dus bijvoorbeeld mogelijk, van 01.00 tot 03.00 niet)</li>
</ul>
Vervolgens klik je op de "Zoek" knop.
<br />
<br /><strong>Wat ziet u nu?</strong>
<br /><em>Tijd</em>: Hier staat de tijd waarop de trein aankomt, of vertrekt. Indien er 2 tijden staan, gescheiden door een -, is de eerste de aankomst, en de tweede de vertrektijd.
<br /><em>Treinnummer</em>: Dit is het treinnummer. Als je hierop klikt ga je naar de dienstregeling van de trein.
<br /><em>Type</em>: Hier wordt aangegeven wat voor vervoer het is (Intercity, Stoptrein...), en wie de vervoerder is.
<br /><em>Van</em>: Hier staat de afkorting van het station waar de trein begonnen is.
<br /><em>Actie</em>: Hier staat waar de tijd betrekking op heeft (aankomsttijd, vertrektijd of haltering (lange stop)).
<br /><em>Eindbestemming</em>: Hier staat de afkorting van de eindbestemming van de trein.
<br />
<br />Als je met je cursor op een afkorting van een plaats gaat staan verschijnt de betekenis van de afkorting.
