Onder deze functie, het dienstregeling archief (DRGL Archief), kan je het archief vinden van alle gepubliceerde extra en gewijzigde dienstregelingen op Somda.
<br />
<br />Door op de titel te klikken van de DRGL, krijg je deze te zien. Alle DRGL-punten waar de trein langskomt zijn in de gebruikelijke afkortingen, zoals overal op Somda en in de spoorwereld gebruikt worden.
<br />
<br />Door met je muis boven zo'n afkorting te gaan staan, verschijnt de volledige naam van het DRGL-punt.
<br />Mocht dit (tijdelijk) niet werken, kan je een lijst met verkortingen vinden in het menu onder <a href="{{ path('location') }}">Informatie - Verkortingen</a>.
