/***************/
/*** Generic ***/
/***************/
html, body, iframe, div, span, applet, object, h1, h2, h3, p, pre, a, big, code, del, em, font, img, ins, s, hr,
small, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 99%;
}
iframe {
    border: none;
}
p {
    margin: 10px 0;
}
ol, ul {
    list-style: none;
}
div.center {
    text-align: center;
}

/**************/
/*** Colors ***/
/**************/
.background-color-orange {
    background-color: var(--alert-warn-color);
}

/**************/
/*** Button ***/
/**************/
.somda-button {
    background-color: var(--button-background-color);
    border: 1px solid var(--button-inverse-color);
    border-radius: 5px;
    color: var(--button-inverse-color) !important;
    display: inline-block;
    font-weight: bold;
    margin: 2px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
}
.somda-button:hover, .somda-button:focus {
    background-color: var(--button-inverse-color);
    border: 1px solid var(--button-background-color) !important;
    color: var(--button-background-color) !important;
}
.donation-button {
    background-color: var(--button-alternative-color);
    border: 1px solid var(--button-alternative-color);
    border-radius: 5px;
    color: var(--button-inverse-color);
    display: inline-block;
    font-weight: bold;
    margin: 2px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
}
.donation-button:hover, .donation-button:focus {
    background-color: var(--button-inverse-color);
    color: var(--button-alternative-color);
}

/**************/
/*** Alerts ***/
/**************/
p.info {
    background: var(--alert-info-background) url(../images/design/icon-info.webp) no-repeat 15px 50%;
    border-bottom: 2px solid var(--alert-info-color);
    border-top: 2px solid var(--alert-info-color);
    color: var(--main-text-color);
    padding: 5px 20px 5px 45px;
    text-align: left;
}
p.info-max-width {
    max-width: 500px;
}
p.warn {
    background: var(--alert-warn-background) url(../images/design/icon-warning.webp) no-repeat 15px 50%;
    border-bottom: 2px solid var(--alert-warn-color);
    border-top: 2px solid var(--alert-warn-color);
    color: var(--main-text-color);
    padding: 5px 20px 5px 45px;
    text-align: left;
}
p.alert {
    background: var(--alert-error-background) url(../images/design/icon-alert.webp) no-repeat 15px 50%;
    border-bottom: 2px solid var(--alert-error-color);
    border-top: 2px solid var(--alert-error-color);
    color: var(--main-text-color);
    padding: 5px 20px 5px 45px;
    text-align: left;
}

/***************/
/*** Content ***/
/***************/
#content {
    width: 320px;
    border-bottom: 1px #000 solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

/**************/
/*** Footer ***/
/**************/
#footer {
    width: 320px;
    text-align: center;
    font-size: 10px;
    color: #aaa;
}
#footer .left {
    float: left;
}
#footer .right {
    float: right;
}

/*******************/
/*** TrainTables ***/
/*******************/
.train-table-location {
    text-align: right;
}
.train-table-time {
    text-align: left;
}
