{% extends 'base.html.twig' %}

{% block content %}
    <br />
    <div class="center">
        {{ form_start(form, { 'attr': { 'id': 'user_form' } }) }}
            <table>
                {{ form_row(form.key) }}
                <tr>
                    <td>&nbsp;</td>
                    <td><a class="somda-button" href="#" onclick="$('#user_form').submit(); return false;">Activeer mijn account bij Somda</a></td>
                </tr>
            </table>
        {{ form_end(form) }}
    </div>
    <br />
{% endblock %}
