{% extends 'base.html.twig' %}

{% block content %}
    <div class="panel">
        <div class="panel-title">Wachtwoord wijzigen</div>
        <div class="panel-content">
            {{ form_start(form, { 'attr': { 'id': 'user_form' } }) }}
                <table>
                    {{ form_row(form.currentPassword) }}
                    {{ form_row(form.newPassword) }}
                    <tr>
                        <td>&nbsp;</td>
                        <td><a class="somda-button" href="#" onclick="$('#user_form').submit(); return false;">Wachtwoord wijzigen</a></td>
                    </tr>
                </table>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
