{% extends 'base.html.twig' %}

{% block content %}
    <div class="home-panel separate-panel">
        <div class="home-panel-title">Wachtwoord vergeten</div>
        <div class="home-panel-content">
            {{ form_start(form, { 'attr': { 'id': 'user_form' } }) }}
                <table class="design">
                    {{ form_row(form.email) }}
                    <tr>
                        <td>&nbsp;</td>
                        <td><a class="somda-button" href="#" onclick="$('#user_form').submit(); return false;"><span>Nieuw wachtwoord aanvragen</span></a></td>
                    </tr>
                </table>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
