<div class="home-panel">
	<div class="home-panel-title">Het actuele weer</div>
	<div class="home-panel-content align-center">
		<a href="https://www.buienradar.nl" target="_blank"><img border="0" src="https://api.buienradar.nl/image/1.0/RadarMapNL?w=215&h=155"></a>
	</div>
</div>
