<div class="home-panel">
	<div class="home-panel-title">Het actuele weer</div>
	<div class="home-panel-content align-center">
		<a href="https://www.buienradar.nl" target="_blank"><img alt="Buienradar" src="https://api.buienradar.nl/image/1.0/RadarMapNL?w=400&h=400" /></a>
	</div>
</div>
