<div class="home-panel">
	<div class="home-panel-title">Het actuele weer</div>
	<div class="home-panel-content align-center">
		<img alt="Buienradar" height="256" src="https://api.buienradar.nl/image/1.0/RadarMapNL?w=256&h=256" width="256" />
		<br />
		Bron: <a href="https://www.buienradar.nl" target="_blank">www.buienradar.nl</a>
	</div>
</div>
