<div class="align-center">
	<a href="https://www.buienradar.nl" rel="nofollow noreferrer" target="_blank">
		<img alt="Buienradar" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://api.buienradar.nl/image/1.0/RadarMapNL?w=400&h=400">
	</a>
</div>
