{#'/feed/rss.php?rss_type=drgl&amp;drgl_type=2'#}
<div class="home-panel">
	<div class="home-panel-title">Werkzaamheden</div>
	<div class="home-panel-content home-special-routes-container">
		{% for specialRoute in layoutData['specialRoutesConstruction'] %}
			{% set date = specialRoute.endDate is null ? (specialRoute.startDate | date('d-m-Y')) : ((specialRoute.startDate | date('d-m-Y')) ~ ' t/m ' ~ (specialRoute.endDate | date('d-m-Y'))) %}
			<i class="fas fa-train"></i> {{ date }} <a href="{{ path('special_route', { 'id': specialRoute.id }) }}">{{ specialRoute.title }}</a><br />
		{% else %}
			<strong>Er zijn geen werkzaamheden te melden,<br />kijk eens in het archief wat je gemist hebt!</strong><br />
		{% endfor %}

		<br />
		<div class="home-panel-buttons">
			<a class="somda-button" href="{{ path('special_routes') }}">Archief bijzondere ritten en werkzaamheden</a>
		</div>
	</div>
</div>
