{% extends 'base.html.twig' %}

{% block content %}
    <div class="panel">
        <div class="panel-title">{{ 'general.error.generic.404' | trans }}</div>
        <div class="panel-content">
            <br />
            <img alt="404" height="350" src="{{ asset('images/error/404.png') }}" />
            <h1>{{ 'general.error.generic.header' | trans }}</h1>
            <p>{{ 'general.error.generic.404info' | trans | format(path('home')) | raw }}</p>
        </div>
    </div>
{% endblock %}
