{% extends 'base.html.twig' %}

{% block content %}
    <div class="panel">
        <div class="panel-title">{{ 'general.error.generic.403'|trans }}</div>
        <div class="panel-content">
            <br />
            <img alt="403" height="350" src="{{ asset('images/error/403.png') }}" />
            <h1>{{ 'general.error.generic.header'|trans }}</h1>
            <p>{{ 'general.error.generic.403info'|trans|format(path('home'))|raw }}</p>
        </div>
    </div>
{% endblock %}
