{% extends('base.html.twig') %}

{% block content %}
    <div class="home-panel separate-panel">
        <div class="home-panel-title">Spoorjargon</div>
        <div class="home-panel-content">
            <table class="design">
                <tr><th>Term</th><th>Omschrijving</th></tr>
                {% for jargon in jargons %}
                    <tr><td>{{ jargon.term }}</td><td>{{ jargon.description }}</td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
