/*
Basic color usage:
    text: #515151
    dark blue: #246da5
    light blue (hover): #2b84c8
    light blue (background): #d2e2f1;
*/

/***************/
/*** Generic ***/
/***************/
html, body, iframe, div, span, applet, object, h1, h2, h3, p, pre, a, big, code, del, em, font, img, ins, s, hr,
small, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 99%;
}
iframe {
    border: none;
}
p {
    margin: 10px 0;
}
ol, ul {
    list-style: none;
}
div.center {
    text-align: center;
}

/**************/
/*** Colors ***/
/**************/
.background-color-orange {
    background-color: orange;
}

/**************/
/*** Button ***/
/**************/
.somda-button {
    background-color: #246da5;
    border: 1px solid #246da5;
    border-radius: 5px;
    color: #fff !important;
    display: inline-block;
    font-weight: bold;
    margin: 2px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
}
.somda-button:hover, .somda-button:focus {
    background-color: #fff;
    color: #246da5 !important;
}

/**************/
/*** Alerts ***/
/**************/
p.info {
    border-bottom: 2px solid #B5D4FE;
    border-top: 2px solid #B5D4FE;
    padding: 5px 20px 5px 45px;
    text-align: left;
}
.webp p.info {
    background: #F8FAFC url(../images/design/icon-info.webp) no-repeat 15px 50%;
}
.no-webp p.info {
    background: #F8FAFC url(../images/design/icon-info.png) no-repeat 15px 50%;
}
p.info-max-width {
    max-width: 500px;
}
p.warn {
    border-bottom: 2px solid #F7D229;
    border-top: 2px solid #F7D229;
    padding: 5px 20px 5px 45px;
    text-align: left;
}
.webp p.warn {
    background: #FFF7C0 url(../images/design/icon-warning.webp) no-repeat 15px 50%;
}
.no-webp p.warn {
    background: #FFF7C0 url(../images/design/icon-warning.png) no-repeat 15px 50%;
}
p.alert {
    border-bottom: 2px solid #FEABB9;
    border-top: 2px solid #FEABB9;
    padding: 5px 20px 5px 45px;
    text-align: left;
}
.webp p.alert {
    background: #FBEEF1 url(../images/design/icon-alert.webp) no-repeat 15px 50%;
}
.no-webp p.alert {
    background: #FBEEF1 url(../images/design/icon-alert.png) no-repeat 15px 50%;
}

/***************/
/*** Content ***/
/***************/
#content {
    width: 320px;
    border-bottom: 1px #000000 solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

/**************/
/*** Footer ***/
/**************/
#footer {
    width: 320px;
    text-align: center;
    font-size: 10px;
    color: #aaaaaa;
}
#footer .left {
    float: left;
}
#footer .right {
    float: right;
}

/*******************/
/*** TrainTables ***/
/*******************/
.train-table-location {
    text-align: right;
}
.train-table-time {
    text-align: left;
}
