{% extends('base.html.twig') %}

{% block content %}
    <p class="info">
        Deze website alsmede de inhoud van deze website ("de informatie") is het eigendom van Somda en is voor iedereen toegankelijk mits deze zich als een gast gedraagt in deze virtuele woning (dit ter beoordeling van het beheer).
        <br /><br />Hoewel Somda zich er voor inspant dat de informatie op deze website juist en volledig is geeft zij ter zake geen enkele garantie. Somda en medewerkers zijn in geen geval aansprakelijk voor eventuele schade (direct of indirect) die het gevolg is van, of in verband staat met, het gebruik of het (gedeeltelijk) niet kunnen gebruiken van de informatie en/of de website.
        <br /><br />Alle communicatie welke mogelijk is gemaakt door middel van of voortvloeiend uit een onderdeel van deze site, zoals meningen, advies, standpunten, kennis of andere uitingen vallen volledig onder de verantwoording van de auteur in persoon. Somda kan niet verantwoordelijk worden geacht voor uitspraken gedaan door middel van of omtrent deze site door de gebruikers van deze site. Somda is een gecontroleerde site, uitingen welke in strijd zijn met de wet kunnen geweerd worden echter zonder enige garantie van accuratesse. Het feit dat Somda de mogelijkheid tot communicatie aanbiedt aan haar bezoekers impliceert op geen enkele wijze de goedkeuring van Somda van wat er geschreven wordt, noch enige associatie met de schrijvers en auteurs ervan.
        <br /><br />Voor alle bijdragen gelden de regels die ook in het dagelijkse leven gelden. Berichten waarvan de inhoud beledigend of discriminerend is worden door het beheer verwijderd. Berichten die niet ter zake doen en teksten in HOOFDLETTERS worden eveneens verwijderd. <a href="{{ path('news_text', { 'id': 126 }) }}">Aanvullende bepalingen voor het forum</a>.
        <br /><br />Indien een bezoeker zich niet gedraagt als gast in deze virtuele woning of de normale normen en waarden zoals boven omschreven niet kan of wenst te onderschrijven c.q. zich ernaar gedraagt staat het de beheerder(s) van deze site vrij de bezoeker zonder opgaaf van reden de toegang te ontzeggen en / of alle services te sluiten voor deze bezoeker.
        <br /><br />Somda staat het plaatsen en uiten van reclamebooschappen en alles wat daarop lijkt door bezoekers niet toe. Het staat de beheerders te allen tijde vrij berichten aan te passen en/of te verwijderen van de site.
    </p>
{% endblock %}
