:root {
    --main-text-color: #283944;
    --main-text-light-color: #ccf6ff;
    --main-background-dark-color: #283944;
    --main-background-light-color: #ccf6ff;
    --main-border-light-color: #6e372a;
    --main-hover-light-color: #6e372a;

    --header-background-color: #42535f;
    --header-text-color: #ccf6ff;

    --button-text-color: #fff;
    --button-alternative-color: #f17255;

    --alert-info-background: #9ee082;
    --alert-info-color: #41525e;
    --alert-warn-background: #ffe6d9;
    --alert-warn-color: #915647;
    --alert-error-background: #f17255;
    --alert-error-color: #774c4b;
}
body {
    background-color: #41525e;
}
#header_image {
    background: url('/images/logo-4.webp') no-repeat center center;
}
