:root {
    --main-text-color: #fafcfc;
    --main-text-placeholder-color: #888;
    --main-text-light-color: #fafcfc;
    --main-text-link-color: #fafcfc;
    --main-background-dark-color: #294447;
    --main-background-light-color: #1d222e;
    --main-border-light-color: #fafcfc;
    --main-hover-light-color: #6cb678;

    --header-background-color: #1d222e;
    --header-text-color: #fafcfc;
    --header-text-hover-color: #294447;

    --button-background-color: #294447;
    --button-inverse-color: #fafcfc;
    --button-alternative-color: #f17255;

    --alert-info-background: #294447;
    --alert-info-color: #94b0b3;
    --alert-warn-background: #ff8b41;
    --alert-warn-color: #befbff;
    --alert-error-background: #862400;
    --alert-error-color: #befbff;
}
body {
    background-color: #1d222e;
}
#header_image {
    background: url('/images/logo-5.webp') no-repeat center center;
}
.menu {
    background-color: #294447 !important;
}
.home-panel {
    border: 1px solid #94b0b3;
    border-radius: 5px;
}
.home-panel .panel-title {
    border-bottom: 1px solid #94b0b3;
}
tr {
    border-bottom: 1px solid #94b0b3 !important;
}
th, .pagination>li>a, .pagination>li>span, .ck.ck-editor__main>.ck-editor__editable, blockquote, #footer {
    background-color: #294447 !important;
}
.ck-toolbar {
    background-color: #94b0b3 !important;
}
#footer {
    border-top: 1px solid var(--main-border-light-color);
}
