:root {
    --main-text-color: #fafcfc;
    --main-text-light-color: #fafcfc;
    --main-text-link-color: #fafcfc;
    --main-background-dark-color: #1d222e;
    --main-background-light-color: #1d222e;
    --main-border-light-color: #fafcfc;
    --main-hover-light-color: #007a86;

    --header-background-color: #1d222e;
    --header-text-color: #fafcfc;
    --header-text-hover-color: #007a86;

    --button-background-color: #1d222e;
    --button-inverse-color: #fafcfc;
    --button-alternative-color: #f17255;

    --alert-info-background: #007a86;
    --alert-info-color: #1d222e;
    --alert-warn-background: #b68a1b;
    --alert-warn-color: #d8a31a;
    --alert-error-background: #b98900;
    --alert-error-color: #644000;
}
body {
    background-color: #1d222e;
}
#header_image {
    background: url('/images/logo-5.webp') no-repeat center center;
}
.menu {
    background-color: #007a86 !important;
}
.home-panel {
    border: 1px solid #717788;
    border-radius: 5px;
}
.home-panel .panel-title {
    border-bottom: 1px solid #717788;
}
tr {
    border-bottom: 1px solid #717788 !important;
}
th, .pagination>li>a, .pagination>li>span, .ck.ck-editor__main>.ck-editor__editable, blockquote, #footer {
    background-color: #007a86 !important;
}
