.forum-header {
    align-items: center;
    background-color: var(--main-background-dark-color);
    border-radius: 10px;
    color: var(--main-text-light-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 0 10px;
}
.forum-header-title {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.forum-header-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.forum-header-links-guest {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.forum-header-links-guest div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}
.forum-category {
    background-color: var(--main-background-dark-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    width: 100%;
}
.forum-category-name {
    border-bottom: 1px solid var(--main-text-light-color);
    color: var(--main-text-light-color);
    margin: 10px;
    padding-bottom: 10px;
}
.forum-forum {
    align-items: center;
    background-color: var(--main-background-light-color);
    border-radius: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: 50px auto 100px;
    justify-items: start;
    margin: 5px;
    padding: 10px;
}
.forum-forum-title {
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
}
.forum-forum-title h4 {
    color: var(--main-text-placeholder-color);
    margin: 0;
}
.forum-forum span, .forum-forum i, .forum-forum a {
    color: var(--main-text-color);
}

/************************/
/*** Forum discussion ***/
/************************/
.pagination {
    margin: 0!important;
}
.forum-post {
    align-items: flex-start;
    background-color: var(--main-background-light-color);
    border: 1px solid var(--main-border-light-color);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    min-height: 5rem;
    padding: 0.5rem;
}
.forum-post-text {
    width: 100%;
}
.forum-post-buttons {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.forum-post-wiki-check {
    background-color: var(--main-background-light-color);
    border: 1px solid var(--main-border-light-color);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}
.forum-post-title {
    border-bottom: 1px dotted var(--main-border-light-color);
    color: var(--main-text-placeholder-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.forum-post-user {
    border-left: 1px dotted var(--main-border-light-color);
    min-width: 100px;
    text-align: right;
}
.forum-post-banner {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
.forum-post-wiki {
    align-items: center;
    background-color: var(--main-background-light-color);
    border: 1px solid var(--main-border-light-color);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px;
    padding: 8px;
}
.favorite-box {
    color: var(--main-text-light-color);
    float: right;
    padding-right: 5px;
}
