body {
    color: #000366;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #000366;
}
a:link {
    color: #0033CC;
}

#container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

/*************/
/*** Forms ***/
/*************/
input {
    font-size: 12px;
    height: 20px;
}
select {
    font-size: 16px;
    height: 25px;
}

/**************/
/*** Tables ***/
/**************/
table {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
    background-color: #d4e1f6;
    border: none;
}
table tr {
    background-color: #d4e1f6;
}
table th {
    background-color: #1D679F;
    color: #FFF;
    font-weight: bold;
    padding: 2px;
}
table th.left-align, table td.left-align {
    text-align: left;
}
table th a {
    color: #aaa !important;
}
table.forum-overview td {
    border-bottom: 1px #246da5 solid;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.moderator-icons {
    float: right;
    padding-left: 20px;
    padding-right: 10px;
}
.favorite-box {
    float: right;
    padding-right: 5px;
    padding-top: 5px;
}

/**************/
/*** Header ***/
/**************/
#header {
    width: 320px;
    text-align: center;
    border-bottom: 1px #000000 solid;
}

img#logo {
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#menu {
    width: 320px;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px #000000 solid;
}
#menu a {
    color: #FF0000;
    text-decoration: none;
}
#menu a:link {
    color: #FF0000;
    text-decoration: none;
}

/***************/
/*** Content ***/
/***************/
#content {
    width: 320px;
    border-bottom: 1px #000000 solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

/**************/
/*** Footer ***/
/**************/
#footer {
    width: 320px;
    text-align: center;
    font-size: 10px;
    color: #aaaaaa;
}
#footer .left {
    float: left;
}
#footer .right {
    float: right;
}

/*******************/
/*** TrainTables ***/
/*******************/
.train-table-location {
    text-align: right;
}
.train-table-time {
    text-align: left;
}

/*************/
/*** Forum ***/
/*************/
table.forum-post {
    text-align: left;
    width: 100%;
}
.forum-spacer-row {
    height: 0.5rem;
}
blockquote {
    background: #F9F9F9;
    border-left: 10px solid #1D679F;
    font-style: italic;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}
blockquote p {
    display: inline;
}
