{% extends('base.html.twig') %}

{% block content %}
    <div class="panel">
        <div class="panel-title">Mijn instellingen</div>
        <div class="panel-content">
            {{ form_start(form, { 'attr': { 'id': 'settings_form' } }) }}
                <table>
                    {{ form_rest(form) }}
                    <tr>
                        <td>&nbsp;</td>
                        <td><a class="somda-button" href="#" id="settings_button" onclick="disableMeAndSubmitForm('settings_button', 'settings_form'); return false;">Instellingen opslaan</a></td>
                    </tr>
                </table>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
