home:
  path: /
  methods: [GET]
  controller: App\Controller\HomeController::indexAction
home_update_layout_json:
  path: /layout-bewerken/{layout}/
  methods: [GET]
  controller: App\Controller\HomeLayoutController::updateAction

banner_click_out:
  path: /click-out/{id}/
  methods: [GET]
  requirements: { id: \d+ }
  controller: App\Controller\BannerController::clickOutAction

###################
# User management #
###################
login:
  path: /inloggen/
  methods: [GET, POST]
  controller: App\Controller\SecurityController::loginAction
login_with_username:
  path: /inloggen/{username}/
  methods: [GET, POST]
  controller: App\Controller\SecurityController::loginAction
logout:
  path: /uitloggen/
  methods: [GET]
register:
  path: /registreren/
  methods: [GET, POST]
  controller: App\Controller\SecurityController::registerAction
activate:
  path: /activeren/{id}/
  methods: [GET, POST]
  requirements: { id: \d+ }
  controller: App\Controller\SecurityController::activateAction
activate_with_key:
  path: /activeren/{id}/{key}/
  methods: [GET, POST]
  requirements: { id: \d+ }
  controller: App\Controller\SecurityController::activateAction
change_password:
  path: /wachtwoord-wijzigen/
  methods: [GET, POST]
  controller: App\Controller\SecurityController::changePasswordAction
lost_password:
  path: /wachtwoord-vergeten/
  methods: [GET, POST]
  controller: App\Controller\SecurityController::lostPasswordAction

########
# News #
########
news:
  path: /nieuws/
  methods: [GET]
  controller: App\Controller\NewsController::indexAction
news_text:
  path: /nieuws/{id}/
  methods: [GET]
  requirements: { id: \d+ }
  controller: App\Controller\NewsController::indexAction
rail_news:
  path: /spoornieuws/
  methods: [GET]
  controller: App\Controller\NewsController::railNewsAction

###############
# Information #
###############
location:
  path: /verkortingen/
  methods: [GET]
  controller: App\Controller\LocationController::indexAction
location_search:
  path: /verkortingen/{search_method}/{search}/
  methods: [GET]
  controller: App\Controller\LocationController::indexAction
location_json:
  path: /verkortingen-zoeken/{search}/
  methods: [GET]
  controller: App\Controller\LocationController::jsonAction
jargon:
  path: /jargon/
  methods: [GET]
  controller: App\Controller\InformationController::jargonAction
uic:
  path: /uic/
  methods: [GET]
  controller: App\Controller\InformationController::uicAction

###############
# Train table #
###############
train_table:
  path: /dienstregeling/
  methods: [GET]
  controller: App\Controller\TrainTableController::indexAction
train_table_search:
  path: /dienstregeling/{train_table_year_id}/{route_number}/
  methods: [GET]
  requirements: { train_table_year_id: \d+ }
  controller: App\Controller\TrainTableController::indexAction
passing_routes:
  path: /doorkomststaat/
  methods: [GET]
  controller: App\Controller\TrainTableController::passingRoutesAction
passing_routes_search:
  path: /doorkomststaat/{train_table_year_id}/{location_name}/{day_number}/{start_time}/{end_time}/
  methods: [GET]
  requirements: { train_table_year_id: \d+, day_number: \d+ }
  controller: App\Controller\TrainTableController::passingRoutesAction
passing_routes_export:
  path: /doorkomststaat/{train_table_year_id}/{location_name}/{day_number}/{start_time}/{end_time}/exporteren/{spotter_version}/
  methods: [GET]
  requirements: { train_table_year_id: \d+, day_number: \d+ }
  controller: App\Controller\TrainTableController::passingRoutesExportAction
route_overview:
  path: /overzicht-treinnummers/
  methods: [GET]
  controller: App\Controller\TrainTableController::routeOverviewAction
route_overview_year:
  path: /overzicht-treinnummers/{train_table_year_id}/
  methods: [GET]
  requirements: { train_table_year_id: \d+ }
  controller: App\Controller\TrainTableController::routeOverviewAction
route_overview_year_route_list:
  path: /overzicht-treinnummers/{train_table_year_id}/{route_list_id}/
  methods: [GET]
  requirements: { train_table_year_id: \d+, route_list_id: \d+ }
  controller: App\Controller\TrainTableController::routeOverviewAction
special_routes:
  path: /drgl/
  methods: [GET]
  controller: App\Controller\TrainTableController::specialRoutesAction
special_route:
  path: /drgl/{id}/
  methods: [GET]
  requirements: { id: \d+ }
  controller: App\Controller\TrainTableController::specialRoutesAction

#########
# Spots #
#########
spot_input:
  path: /invoer/
  methods: [GET, POST]
  controller: App\Controller\SpotInputController::indexAction
spot_input_feedback:
  path: /invoer-feedback/{id_list}
  methods: [GET]
  requirements: { id_list: .+ }
  controller: App\Controller\SpotInputController::feedbackAction
spots:
  path: /spots/
  methods: [GET]
  controller: App\Controller\SpotController::indexAction
spots_search:
  path: /spots/{max_months}/{search_parameters}
  methods: [GET]
  requirements: { max_months: '1|3|6|12|24|36|48|60|999', search_parameters: .+ }
  controller: App\Controller\SpotController::indexAction
spots_to_train_table:
  path: /spots/naar-dienstregeling/{route_number}/{date}/
  methods: [GET]
  controller: App\Controller\SpotController::redirectToTrainTableAction
my_spots:
  path: /mijn-spots/
  methods: [GET]
  controller: App\Controller\MySpotsController::indexAction
my_spots_json:
  path: /mijn-spots/json/
  methods: [GET]
  controller: App\Controller\MySpotsController::jsonAction
my_spots_edit:
  path: /mijn-spots/bewerken/{id}/
  methods: [GET, POST]
  requirements: { id: \d+ }
  controller: App\Controller\MySpotsController::editAction
my_spots_delete:
  path: /mijn-spots/verwijderen/{id}/
  methods: [GET]
  requirements: { id: \d+ }
  controller: App\Controller\MySpotsController::deleteAction
my_spots_bulk_edit_date:
  path: /mijn-spots/bulk-bewerken/datum/{id_list}/
  methods: [GET, POST]
  defaults: { 'type': 'date' }
  requirements: { id_list: .+ }
  controller: App\Controller\MySpotsController::bulkAction
my_spots_bulk_edit_location:
  path: /mijn-spots/bulk-bewerken/locatie/{id_list}/
  methods: [GET, POST]
  defaults: { 'type': 'location' }
  requirements: { id_list: .+ }
  controller: App\Controller\MySpotsController::bulkAction
pois:
  path: /spotpunten/
  methods: [GET]
  controller: App\Controller\PoiController::indexAction
pois_detail:
  path: /spotpunten/{id}/
  methods: [GET]
  requirements: { id: \d+ }
  controller: App\Controller\PoiController::detailAction

##########
# Trains #
##########
train_compositions:
  path: /materieel-samenstellingen/
  methods: [GET]
  controller: App\Controller\TrainController::indexAction
train_compositions_type:
  path: /materieel-samenstellingen/{type_id}/
  methods: [GET]
  requirements: { type_id: \d+ }
  controller: App\Controller\TrainController::indexAction
train_composition_add:
  path: /materieel-samenstelling/toevoegen/{type_id}/
  methods: [GET, POST]
  requirements: { type_id: \d+ }
  defaults: { 'id': 0 }
  controller: App\Controller\TrainController::editAction
train_composition_edit:
  path: /materieel-samenstelling/bewerken/{id}/
  methods: [GET, POST]
  requirements: { id: \d+ }
  controller: App\Controller\TrainController::editAction
train_composition_check:
  path: /materieel-samenstelling/controleren/{train_id}/{user_id}/{approved}/
  methods: [GET, POST]
  requirements: { train_id: \d+, user_id: \d+, approved: '0|1' }
  controller: App\Controller\TrainController::checkAction
ddar_trains:
  path: /ddar/
  methods: [GET]
  controller: App\Controller\HomeController::notImplementedAction
materieelnamen:
  path: /materieel-namen/
  methods: [GET]
  controller: App\Controller\TrainController::namesAction

#########
# Forum #
#########
forum:
  path: /forum/
  methods: [GET]
  controller: App\Controller\ForumForumController::indexAction
forum_forum:
  path: /forum/c{id}/{name}/
  methods: [GET]
  requirements: { id: \d+ }
  controller: App\Controller\ForumForumController::forumAction
forum_forum_new_discussion:
  path: /forum/n{id}/nieuwe-discussie/
  methods: [GET, POST]
  requirements: { id: \d+ }
  controller: App\Controller\ForumDiscussionController::newAction
forum_discussion:
  path: /forum/{id}/{name}/
  methods: [GET]
  requirements: { id: \d+ }
  controller: App\Controller\ForumDiscussionController::indexAction
forum_discussion_page:
  path: /forum/{id}/{page_number}/{name}/
  methods: [GET]
  requirements: { id: \d+, page_number: \d+ }
  controller: App\Controller\ForumDiscussionController::indexAction
forum_discussion_post:
  path: /forum/{id}/p{post_id}/{name}/
  methods: [GET]
  requirements: { id: \d+, post_id: \d+ }
  controller: App\Controller\ForumDiscussionController::indexAction

forum_discussion_moderate:
  path: /forum/{id}/moderate/{action}/
  methods: [GET, POST]
  requirements: { id: \d+, action: 'close|open|move' }
  controller: App\Controller\ForumModerateController::indexAction
forum_discussion_moderate_combine:
  path: /forum/{id1}/moderate/combine/{id2}/
  methods: [GET, POST]
  requirements: { id1: \d+, id2: \d+ }
  controller: App\Controller\ForumModerateController::combineAction
forum_discussion_moderate_split:
  path: /forum/{id}/moderate/split/{post_ids}/
  methods: [GET, POST]
  requirements: { id: \d+ }
  controller: App\Controller\ForumModerateController::splitAction

forum_discussion_post_reply:
  path: /forum/p{id}/reageren/
  methods: [GET, POST]
  requirements: { id: \d+ }
  controller: App\Controller\ForumPostController::replyAction
forum_discussion_post_quote:
  path: /forum/p{id}/quoten/
  methods: [GET, POST]
  requirements: { id: \d+ }
  defaults: { 'quote': true }
  controller: App\Controller\ForumPostController::replyAction
forum_discussion_post_edit:
  path: /forum/p{id}/bewerken/
  methods: [GET, POST]
  requirements: { id: \d+ }
  controller: App\Controller\ForumPostController::editAction

forum_discussion_post_alert:
  path: /forum/p{id}/melden/
  methods: [GET, POST]
  requirements: { id: \d+ }
  controller: App\Controller\ForumPostAlertController::alertAction
forum_discussion_post_alerts_overview:
  path: /forum/meldingen/
  methods: [GET]
  controller: App\Controller\ForumPostAlertController::alertsAction
forum_discussion_post_alerts:
  path: /forum/p{id}/meldingen/
  methods: [GET, POST]
  requirements: { id: \d+ }
  controller: App\Controller\ForumPostAlertController::postAlertsAction
forum_discussion_post_alerts_close:
  path: /forum/p{id}/meldingen-sluiten/
  methods: [GET]
  requirements: { id: \d+ }
  controller: App\Controller\ForumPostAlertController::alertsCloseAction

forum_post_wiki_check:
  path: /forum/p{id}/{operation}/
  methods: [GET]
  requirements: { id: \d+, operation: 'ok|na' }
  controller: App\Controller\ForumPostWikiController::checkAction

forum_favorites:
  path: /forum/favorieten/
  methods: [GET]
  controller: App\Controller\ForumPostFavoriteController::indexAction
forum_favorite_toggle:
  path: /forum/favoriet/{id}/{alerting}/
  methods: [GET]
  requirements: { id: \d+, alerting: '0|1' }
  controller: App\Controller\ForumPostFavoriteController::toggleAction
forum_favorite_add:
  path: /forum/favoriet/{id}/toevoegen/
  methods: [GET]
  requirements: { id: \d+ }
  controller: App\Controller\ForumPostFavoriteController::addAction
forum_favorite_remove:
  path: /forum/favoriet/{id}/verwijderen/
  methods: [GET]
  requirements: { id: \d+ }
  controller: App\Controller\ForumPostFavoriteController::removeAction
forum_favorite_post_add:
  path: /forum/favoriet-bericht/{id}/toevoegen/
  methods: [GET]
  requirements: { id: \d+ }
  controller: App\Controller\ForumPostFavoriteController::addPostAction
forum_favorite_post_remove:
  path: /forum/favoriet-bericht/{id}/verwijderen/
  methods: [GET]
  requirements: { id: \d+ }
  controller: App\Controller\ForumPostFavoriteController::removePostAction

forum_search:
  path: /forum/zoeken/
  methods: [GET, POST]
  controller: App\Controller\ForumSearchController::indexAction

forum_noteworthy_stuff:
  path: /od/
  methods: [GET]
  controller: App\Controller\ForumSearchController::noteworthyStuffAction

forum_unread:
  path: /ongelezen-berichten/
  methods: [GET]
  controller: App\Controller\ForumUnreadController::indexAction
forum_unread_mark_read:
  path: /ongelezen-berichten/gelezen/
  methods: [GET]
  controller: App\Controller\ForumUnreadController::markReadAction

#########
# Somda #
#########
about:
  path: /over/
  methods: [GET]
  controller: App\Controller\SomdaController::aboutAction
advertise:
  path: /adverteren/
  methods: [GET]
  controller: App\Controller\SomdaController::advertiseAction
contact:
  path: /feedback/
  methods: [GET, POST]
  controller: App\Controller\SomdaController::contactAction
disclaimer:
  path: /disclaimer/
  methods: [GET]
  controller: App\Controller\SomdaController::disclaimerAction
feeds:
  path: /feeds/
  methods: [GET]
  controller: App\Controller\FeedController::indexAction
statistics:
  path: /statistieken/
  methods: [GET]
  controller: App\Controller\StatisticsController::indexAction
help:
  path: /help/
  methods: [GET]
  defaults: { 'id': 1 }
  controller: App\Controller\HelpController::indexAction
help_text:
  path: /help/{id}/
  methods: [GET]
  requirements: { id: \d+ }
  controller: App\Controller\HelpController::indexAction

########
# User #
########
settings:
  path: /instellingen/
  methods: [GET, POST]
  controller: App\Controller\SettingsController::indexAction
profile:
  path: /profiel/
  methods: [GET, POST]
  requirements: { id: \d+ }
  controller: App\Controller\ProfileController::indexAction
profile_view:
  path: /profiel/{id}/
  methods: [GET, POST]
  requirements: { id: \d+ }
  controller: App\Controller\ProfileController::indexAction
profile_mail:
  path: /profiel/e-mail/{id}/
  methods: [GET, POST]
  requirements: { id: \d+ }
  controller: App\Controller\ProfileController::mailAction

#########
# Feeds #
#########
feed_rss:
  path: /feeds/rss/{id}/
  methods: [GET]
  defaults: { _controller: Debril\RssAtomBundle\Controller\StreamController::indexAction, 'format': 'rss', 'id': 'spots|special-routes' }
feed_atom:
  path: /feeds/atom/{id}/
  methods: [GET]
  defaults: { _controller: Debril\RssAtomBundle\Controller\StreamController::indexAction, 'format': 'atom', 'id': 'spots|special-routes' }
feed_json:
  path: /feeds/json/{id}/
  methods: [GET]
  defaults: { _controller: Debril\RssAtomBundle\Controller\StreamController::indexAction, 'format': 'json', 'id': 'spots|special-routes' }
feed_image:
  path: /feeds/image/{location_name}/
  methods: [GET]
  requirements: { location_name: '[a-zA-z]{1,10}' }
  controller: App\Controller\FeedController::imageAction
feed_image_with_day_number:
  path: /feeds/image/{location_name}/{day_number}/
  methods: [GET]
  requirements: { location_name: '[a-zA-z]{1,10}', day_number: '[1-7]' }
  controller: App\Controller\FeedController::imageAction
feed_image_with_start_time:
  path: /feeds/image/{location_name}/{day_number}/{start_time}/
  methods: [GET]
  requirements: { location_name: '[a-zA-z]{1,10}', day_number: '[1-7]', start_time: '[0-9]{2}:[0-9]{2}' }
  controller: App\Controller\FeedController::imageAction

##############
# Management #
##############
manage_user:
  path: /beheer-gebruikers/
  methods: [GET]
  controller: App\Controller\HomeController::notImplementedAction

manage_news:
  path: /beheer-nieuws/
  methods: [GET]
  controller: App\Controller\ManageNewsController::indexAction
manage_news_edit:
  path: /beheer-nieuws-item/{id}/
  methods: [GET, POST]
  requirements: { id: \d+ }
  controller: App\Controller\ManageNewsController::editAction

manage_rail_news:
  path: /beheer-spoor-nieuws/
  methods: [GET]
  controller: App\Controller\ManageNewsController::railNewsAction
manage_rail_news_disapprove:
  path: /beheer-spoor-nieuws/bulk-afkeuren/
  methods: [POST]
  controller: App\Controller\ManageNewsController::railNewsDisapproveAction
manage_rail_news_edit:
  path: /beheer-spoor-nieuws-item/{id}/
  methods: [GET, POST]
  requirements: { id: \d+ }
  controller: App\Controller\ManageNewsController::railNewsEditAction

manage_special_routes:
  path: /beheer-bijzonder-ritten/
  methods: [GET]
  controller: App\Controller\ManageSpecialRoutesController::indexAction
manage_special_route:
  path: /beheer-bijzondere-rit/{id}/
  methods: [GET, POST]
  requirements: { id: \d+ }
  controller: App\Controller\ManageSpecialRoutesController::editAction

manage_banners:
  path: /beheer-banners/
  methods: [GET]
  controller: App\Controller\HomeController::notImplementedAction

manage_train_tables:
  path: /beheer-dienstregelingen/
  methods: [GET]
  controller: App\Controller\ManageTrainTablesController::manageAction
manage_train_tables_year:
  path: /beheer-dienstregelingen/{year_id}/
  methods: [GET]
  requirements: { year_id: \d+ }
  controller: App\Controller\ManageTrainTablesController::manageAction
manage_train_tables_year_route_list:
  path: /beheer-dienstregelingen/{year_id}/{route_list_id}/
  methods: [GET]
  requirements: { year_id: \d+, route_list_id: \d+ }
  controller: App\Controller\ManageTrainTablesController::manageAction
manage_train_table:
  path: /beheer-dienstregeling/{route_list_id}/{route_id}/
  methods: [GET, POST]
  requirements: { route_list_id: \d+, route_id: \d+ }
  controller: App\Controller\ManageTrainTablesController::manageRouteAction
manage_train_table_add:
  path: /beheer-dienstregeling/{route_list_id}/{route_id}/{route_number}/
  methods: [GET, POST]
  requirements: { route_list_id: \d+, route_id: \d+, route_number: \d+ }
  controller: App\Controller\ManageTrainTablesController::manageRouteAction
manage_train_table_delete:
  path: /beheer-dienstregeling/verwijder/{year_id}/{route_list_id}/{route_id}/
  methods: [GET, POST]
  requirements: { year_id: \d+, route_list_id: \d+, route_id: \d+ }
  controller: App\Controller\ManageTrainTablesController::deleteRouteAction

manage_pois:
  path: /beheer-spotpunten/
  methods: [GET]
  controller: App\Controller\HomeController::notImplementedAction

manage_bans:
  path: /beheer-bans/
  methods: [GET]
  controller: App\Controller\ManageUsersController::bansAction
manage_ban:
  path: /beheer-ban/{id}/
  methods: [GET, POST]
  requirements: { id: \d+ }
  controller: App\Controller\ManageUsersController::banAction

manage_ddar_trains:
  path: /beheer-ddar/
  methods: [GET]
  controller: App\Controller\HomeController::notImplementedAction

manage_train_compositions:
  path: /beheer-materieel-samenstellingen/
  methods: [GET]
  controller: App\Controller\HomeController::notImplementedAction

manage_route_lists:
  path: /beheer-treinnummerlijst/
  methods: [GET]
  controller: App\Controller\ManageRouteListsController::routeListsAction
manage_route_lists_year:
  path: /beheer-treinnummerlijst/{id}/
  methods: [GET]
  requirements: { id: \d+ }
  controller: App\Controller\ManageRouteListsController::routeListsAction
manage_route_list:
  path: /beheer-treinnummerlijst-item/{year_id}/{id}/
  methods: [GET, POST]
  requirements: { year_id: \d+, id: \d+ }
  controller: App\Controller\ManageRouteListsController::routeListAction
