parameters:
  router.request_context.scheme: 'https'
  asset.request_context.secure: true
  .container.dumper.inline_factories: true

services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: true
  App\:
    resource: '../src/'
    exclude: '../src/{DependencyInjection,Feed,Migrations,Model,Tests,Kernel.php}'
  App\Controller\:
    resource: '../src/Controller/'
    tags: ['controller.service_arguments']
  Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler:
    arguments:
      - '%env(DATABASE_URL)%'
      - { db_table: 'somda_session' }
