{% extends('base.html.twig') %}

{% block content %}
    <div class="home-panel separate-panel">
        <div class="home-panel-title">Somda nieuws</div>
        <div class="home-panel-content">
            <table class="design">
                <tr><th>Datum</th><th>Titel</th></tr>
                {% for item in news %}
                    <tr>
                        <td>{{ item.timestamp | displayDateTime }}</td>
                        <td>{{ item.archived ? '<i class="fas fa-archive"></i>' : '<i class="fas fa-newspaper"></i>' }} <a href="{{ path('news_text', { 'id': item.id }) }}">{{ item.title }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
