<picture><source srcset="{{ absolute_url(asset('images/logo-1.webp')) }}" /><img alt="Somda" src="{{ absolute_url(asset('images/logo.png')) }}" /></picture>
<br />
<br />Er is een nieuwe notitie geplaatst bij een gemeld bericht:
<hr />{{ note.text }}<hr />
<br />
<br />Ga naar de <a href="{{ url('forum_discussion_post_alerts', { 'id': post.id }) }}">pagina over deze melding</a>
