<picture><source srcset="{{ asset('images/logos-somda/logo-1.webp') }}" /><img alt="Somda" src="{{ asset('images/logos-somda/logo-1.png') }}" /></picture>
<br />
<br />Er is een nieuwe notitie geplaatst bij een gemeld bericht:
<hr />{{ note.text }}<hr />
<br />
<br />Ga naar de <a href="{{ path('forum_discussion_post_alerts', { 'id': post.id }) }}">pagina over deze melding</a>
