<picture><source srcset="{{ absolute_url(asset('images/logo-1.webp')) }}" /><img alt="Somda" src="{{ absolute_url(asset('images/logo-1.webp')) }}" /></picture>
<br />
<br /><strong>Jouw registratie bij <a href="{{ url('home') }}">Somda</a></strong>
<br />
<br />Jij of iemand anders heeft jouw e-mailadres gebruikt voor een registratie bij Somda.
<br />Om deze registratie te voltooien dien je op de volgende link te klikken:
<br /><a href="{{ url('activate_with_key', { 'id': userId, 'key': activationKey }) }}">Account activeren</a>
