<img alt="Somda" src="{{ asset('images/logos-somda/logo_1.png') }}" />
<br />
<br /><strong>Jouw registratie bij <a href="{{ path('home') }}">Somda</a></strong>
<br />
<br />Jij of iemand anders heeft jouw e-mailadres gebruikt voor een registratie bij Somda.
<br />Om deze registratie te voltooien dien je op de volgende link te klikken:
<br /><a href="{{ path('activate', { 'id': userId, 'key': activationKey }) }}">Account activeren</a>
