<picture><source srcset="{{ absolute_url(asset('images/logo-1.webp')) }}" /><img alt="Somda" src="{{ absolute_url(asset('images/logo-1.webp')) }}" /></picture>
<br />
<br />Onderstaande e-mail is via <a href="{{ url('home') }}">Somda</a> verzonden door een moderator.
<br />
<br />---------------------------
<br />{{ text|raw }}
<br />---------------------------
