<picture><source srcset="{{ absolute_url(asset('images/logos-somda/logo-1.webp')) }}" /><img alt="Somda" src="{{ absolute_url(asset('images/logos-somda/logo-1.png')) }}" /></picture>
<br />
<br />Onderstaande e-mail is via <a href="{{ path('home') }}">Somda</a> verzonden door een moderator.
<br />
<br />---------------------------
<br />{{ text | raw }}
<br />---------------------------
