<!DOCTYPE html>
<html lang="nl" xml:lang="nl" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Somda export</title>
    <style type="text/css">
        #header {
            font-size: 20px;
            margin-bottom: 1rem;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        table th {
            background-color: #4d6a72;
            color: #fff;
            font-weight: bold;
            padding: 5px;
        }
        table td {
            background-color: #f8f8ef;
            color: #3a3a33;
            padding: 5px;
            vertical-align: top;
        }
    </style>
</head>
<body>
    <div id="header"><a href="{{ url('home') }}">Somda - Voor en door treinspotters</a></div>
    {% block content %}{% endblock %}
</body>
</html>
