<div id="footer">
	<div class="ftr-center">
		Copyright (C) 2003-{{ "now" | date('Y') }} Peter van der Leek, Houten
		<br /><br /><a href="{{ path('about') }}">Over Somda</a>
		- <a href="', SITE_URL, '/statistieken/">Somda statistieken</a>
		- <a href="http://', geefConfig('site_url_mobiel'), '">Somda mobiel</a>
	 	- <a href="', SITE_URL, '/feed/">Somda feeds</a>
	</div>
	<div class="ftr-right"></div><div class="ftr-left"></div>
</div>
