{% extends('base.html.twig') %}

{% block content %}
    <br />
    <div class="panel">
        <div class="panel-title">Niet geimplementeerd</div>
        <div class="panel-content">
            <strong>Deze functie is helaas nog niet geimplementeerd in de nieuwe Somda</strong>
            <br />
            <br />
            <div class="panel-buttons">
                <a class="somda-button" href="{{ path('home') }}">Terug naar de homepagina</a>
                <a class="somda-button" href="{{ path('contact') }}">Neem contact op met de webmaster</a>
            </div>
        </div>
    </div>
    <br />
    <br />
{% endblock %}
